.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FCE44D;
    padding: 1em;
    box-shadow: 0px 0px 2px #000;
}

.header div img {
    width: 10em;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1em;
}