.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
}

.container h1 {
    margin-top: 1.5em;
}

.container h1 img {
    width: 15em;
}

.container .link {
    background-color: #374151;
    color: #fff;
    padding: 1em;
    border-radius: 10px;
    text-decoration: none;
}

.container .link:hover {
    filter: brightness(110%);
    box-shadow: 0px 0px 5px #000;
}

.container img {
    width: 30em;
}