.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.container h1 {
    padding: 2em;
}

.petList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }

    .container h1 {
        padding: 1em 0;
        font-size: 1.4em;
    }

    .petList {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}